.cart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(220,220,220, 0.4);
    display: flex;
}

.cart-empty-section {
    flex-grow: 1;
    background-color: transparent;
    cursor: pointer;
}

.cart {
    margin-left: auto;
    width: 25%;
    height: 100%;
    background-color: white;
    padding: 20px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cart > h2 {
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.cart--total-container {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    padding-top: 5px;
}

.cart--close-button {
    position: absolute;
    top: 20px;
    right: 40px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: #FFB100;
    color: white;
    font-size: 10px;
    font-weight: 600;
}

.cart--checkout-button {
    margin: 0 auto;
    padding: 5px 20px;
    cursor: pointer;
    color: white;
    background-color: #036B66;
    border: none;
    font-size: 14px;
    font-weight: 500;
}

.cart--checkout-button:hover {
    animation: checkout-shadow-appearing 150ms forwards;
}

.cart--product-image-container > img {
    width: 100%;
    height: 100%;
}

.cart--product-image-container {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: lightgrey;
    padding: 8px;
    border-radius: 8px;
}

.cart--product-quantity {
    position: absolute;
    height: 20px;
    width: 20px;
    padding: 0;
    top: -8px;
    right: -8px;
    background-color: #FFB100;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 800;
}

.cart--product {
    display: flex;
    font-size: 13px;
    gap: 10px;
    align-items: center;
}

.cart--product-name {
    flex-grow: 1;
}

.cart--items-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@keyframes checkout-shadow-appearing {
    0% {
        box-shadow: 0px 0px 0 0px white, 0px 0px 0 0 #FFB100;
    }

    50% {
        box-shadow: -2px -2px 0 -1px white, -2px -2px 0 0 #FFB100;
    }

    100% {
        box-shadow: -4px -4px 0 -2px white, -4px -4px 0 0 #FFB100;
    }
}